* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "OpenSans-Regular", Arial, sans-serif;
   }

@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

:focus{
  outline: 1px solid #b59f5b;
}

.header {
  width: 100%;
  min-height: 450px;

  color: #ffffff;

  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 60%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navigation-container {
  padding-top: 28px;
}

.navigation {
  display: flex;

  position: relative;
  z-index: 2;

  padding: 0px 15px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: auto;

  font-size: 13px;
  text-transform: uppercase;
}

.nav-list-item {
  margin-left: 35px;
}

.nav-list-item a, .header {
  color: #ffffff;
}

.nav-list-item:hover {
  text-decoration: underline;
}

.logo-container, .logo-container svg {
  display: flex;

  width: 100%;
  max-height: 41px;
}

h1 {
  position: relative;
  z-index: 2;

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 109px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.trends-header, .shop_header {
  font-size: 1.25rem;
  margin-top: 63px;
}

.trends {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  max-width: 1660px;

  margin-left: auto;
  margin-right: auto;
}

.trends h2 a {
  color: #ffffff;
}

.trends article {
  width: 25%;
  height: 320px;
  position: relative;

  background-color: #eff6f1;
}

.trends article:nth-child(1n+2) {
  margin-left: 0.25%;
}

.trends article::after {
  content: "";
  background-color: #000000;
  opacity: 60%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trends-post1 {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post2 {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post3 {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post4 {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trends-post-content {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  max-height: 285px;

  margin: 17px 20px;
  padding: 40px 33px;
  border: 3px solid #b59f5b;

  overflow: hidden;

  z-index: 1;
}

.wrapper {
  display: flex;

  max-width: 1170px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-right: 15px;
  padding-left: 15px;
}

.content {
  margin-left: auto;
}

.post {
  display: flex;

  max-width: 100%;
  min-height: 294px;
}

.post:nth-child(n+2) {
  margin-top: 59px;
}

.post-image, .post-image img {
  max-width: 100%;
  max-height: 100%;

  background-color: #eff6f1;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  max-width: 381px;
  min-height: 294px;
}

.post-nav {
  display: flex;
}

.post-nav-item a {
  display: flex;
  max-width: 367px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  color: #b59f5b;

  margin-right: 19px;
}

.post-nav-item a:hover {
  text-decoration: underline;
}

h2 a{
  display: flex;

  margin-top: 10px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

h2 a:hover {
  color: #b59f5b;
}

.post-sign{
  font-size: 12px;
  margin-top: 28px;
}

.post-sign span {
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

.post-sign time {
  color: #888888;
  margin-right: 10px;
}

.post-text {
  font-size: 15px;
  line-height: 22px;

  margin-top: 45px;

  overflow: hidden;
}

.post-text:nth-child(odd){
  margin-top: 12px;
}

.sidebar {
  max-width: 275px;

  margin-left: 120px;
  margin-right: auto;
}

h3 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 24px;
}

h3::after {
  content: "";
  display:block;
  background: #e1d9bd;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
}

.sidebar-post {
  display: flex;

  max-width: 275px;
  max-height: 71px;

  margin-top: 22px;

  overflow: hidden;
}

.sidebar-post-image, .sidebar-post-image img {
  display:flex;

  max-width: 70px;
  max-height: 70px;

  background-color: #eff6f1;
}

h4 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-post-text {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.sidebar-post-text time {
  font-size: 12px;
  color: #888888;
}

.sidebar-post-text h4 {
  font-size: 14px;
  text-align: left;

  margin-top: 2px;
}

.sidebar-post-text a {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  color: #000000;
}

.sidebar-post-text a:hover {
  color: #b59f5b;
}

.search-form {
  display: flex;

  max-width: 100%;
  max-height: 48px;

  margin-top: 58px;
}

.search-area {
  width: calc(100% - 48px);
  height: 48px;

  border: none;
  padding-left: 18px;
  background-color: #f4f7f6;
}

.search-button {
  width: 48px;
  height: 48px;

  border: none;
  outline: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.search-button:hover {
  background-color: #323232;
  outline: 1px solid #323232;
  cursor: pointer;
}

button svg {
  width: 18px;
  height: 18px;
}

.subscribe-container {
  margin-top: 57px;

  max-width: 100%;
  min-height: 170px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-area {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 48px;

  border: none;
  padding-left: 20px;
  background-color: #f4f7f6;
}

.subscribe-button {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  width: 100%;
  min-height: 48px;

  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  outline: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.subscribe-button:hover {
  background-color: #323232;
  outline: 1px solid #323232;
  cursor: pointer;
}

.tags {
  max-width: 100%;
  min-heigth: 154px;

  margin-top: 55px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 22px;
}

.tags-list a {
  display: inline-block;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;

  border: 3px solid #fdf9f2;

  padding: 6px 13px 2px 13px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-list a:hover {
  border: 3px solid #b59f5b;
}

.categories {
  max-width: 275px;
  min-heigth: 321px;

  margin-top: 50px;
}

.categories-list {
  margin-top: 30px;
}

.categories-list-item {
  display: flex;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  color: #b59f5b;

  border-bottom: 1px solid #eeeeee;
}

.categories-list a {
  display: flex;
  align-items: center;

  max-width: 275px;
  min-height: 39px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}

.categories-list a:hover {
  color: #b59f5b;
}

.shop_box {
  display: flex;
  justify-content: space-between;

  max-width: 1170px;
  max-height: 1600px;

  margin-left: auto;
  margin-right: auto;

  padding: 0px 38px 62px 38px;
}

.shop_post {
  max-width: 300px;
  max-height: 440px;
}

.shop_post img {
  max-width: 100%;
  max-height: 100%;
}

.post_text a {
  color: #b59f5b;
}

.post_text a:hover {
  text-decoration: underline;
}

.price_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;

  max-width: 100%;
  height: 50px;

  margin-top: 22px;
}

.shop_button {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  position: absolute;

  bottom: 0;
  right: 0;

  width: 140px;
  height: 100%;

  border: none;
  background-color: #b59f5b;
}

.shop_button:hover {
  background-color: #323232;
  cursor: pointer;
}

.discount {
  text-decoration: line-through;
}

.shop_content {
  height: 50%;
  outline: 1px solid #b59f5b;
  outline-offset: 22px;
  margin-top: -20px;
  padding-top: 25px;        /*добавить отступ снизу*/ /*добавить жирность ценам*/
}

.footer {
  display: flex;
  flex-direction: column;

  max-width: 1170px;
  min-height: 170px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1170px;
  min-height: 85px;

  background-color: #f4f7f6;
}

.social-item {
  display: inline-block;

  margin-right: 10px;
}

.social-item a {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.social-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.social-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.social-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  margin-top: 64px;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
}

.copyright a {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}

.popup {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
}

.popup_container {
  position: relative;
  min-width: 390px;
  min-height: 590px;

  background-color: #ffffff;

  font-size: 0.8125rem;
}

.feedback_header {
  font-size: 1.25rem;

  margin-top: 55px;
}

.popup_content {
  max-width: 331px;

  margin-left: auto;
  margin-right: auto;
}

.popup_content form{
  display: flex;
  flex-direction: column;
}

.select_group {
  display: flex;
  flex-direction: column;
}

.select_group select {
  width: 331px;
  height: 49px;

  border: none;
  outline: none;      /*добавить нормальную*/

  margin-top: 10px;

  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
  background-size: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.radio_text_label {
  display: inline-block;

  margin-top: 10px;
  margin-right: 20px;
}

.radio_text_label::before {
  margin-right: 8px;
}

.radio_text_label::before  {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.radio:checked ~ .radio_text_label::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.text_group {
  display: flex;
  flex-direction: column;

  margin-top: 35px;
}

.text_group textarea {
  width: 331px;
  height: 132px;

  border: none;
  outline: none;      /*добавить нормальную*/

  background-color: #f4f7f6;

  margin-top: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.feedback_button {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  width:  331px;
  height: 49px;

  border: none;
  outline: none;      /*добавить нормальную*/

  margin-top: 27px;

  background-color: #b59f5b;
}

.feedback_button:hover {
  background-color: #323232;
  cursor: pointer;
}

.popup_close {
  position: absolute;
  top: -2em;
  right: 0;

  width: 20px;
  height: 20px;

  outline: none;
}

@media (min-width: 641px) and (max-width:1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .nav-list {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 19px;

    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto;
    margin-left: auto;

    cursor:  pointer;
  }

  .burger::before,
  .burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 8px;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .logo-container {
    width: 25%;
  }

  h1 {
    font-size: 2.5em;
  }

  .trends-header, .shop_header {
    font-size: 1.125em;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trends article {
    width: calc(50% - 0.25%); /* временно */
  }

  .trends article:nth-child(1n+3) {
    margin-top: 0.25%;
  }

  .trends article:nth-child(1n+2) {
    margin-left: 0;
  }

  .trends article:nth-child(2n+2) {
    margin-left: 0.25%;
  }

  h2 a {
    font-size: 0.71em;
  }

  .post {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .post-content {
    margin-top: 16px;
    margin-left: 0;
  }

  .sidebar {
    margin-left: 35px;
  }

  .shop_box {
    flex-wrap: wrap;

    max-width: 686px;
  }

  .shop_post, .shop_post picture {
    max-width: calc(50% - 0.25%);
  }

  .shop_post:nth-child(1n+3) {
    margin-top: 57px;
  }

  .shop_content {
    max-width: 292px;
  }
}

@media (min-width: 641px) and (max-width:720px) {
  .shop_content {
    outline-offset: 10px;
  }
}

@media (min-width: 641px) and (max-width: 700px) {
  .shop_content {
    outline-offset: 0;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");

    height: 640px;
  }

  .nav-list {
    display: none;
  }

.logo-container svg {
    position: absolute;

    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;

    min-width: 269px;
    min-height: 61px;

    margin-left: auto;
    margin-right: auto;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 19px;

    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto;
    margin-left: auto;

    cursor:  pointer;
  }

  .burger::before,
  .burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }

  .burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 8px;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .logo-container {
    width: 25%;
  }

  h1 {
    font-size: 1.625em;

    margin-top: 280px;
  }

  .trends-header, .shop_header {
    font-size: 1em;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trends article {
    width: 100%;
  }

  .trends article {
    margin-top: 0.25%;
  }

  .trends article:nth-child(1n+2) {
    margin-left: 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .content {
    margin-right: auto;
  }

  h2 a {
    font-size: 0.666em;
  }

  .post {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .post-content {
    margin-top: 16px;
    margin-left: 0;
  }

  .sidebar {
    max-width: 100%;
    margin: 0;
  }

  .sidebar-post {
    max-width: 100%;
  }

  .categories {
    max-width: 100%;
  }

  .shop_box {
    flex-wrap: wrap;
    flex-direction: column;

    max-width: 686px;
  }

  .shop_post, .shop_post img {
    display: block;
    max-width: 100%;

    margin-left: auto;
    margin-right: auto;
  }

  .shop_post:nth-child(1n+2) {
    margin-top: 37px;
  }

  .shop_content {
    max-width: 100%;
  }
}
}
