* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "OpenSans-Regular", Arial, sans-serif;
   }

@font-face {
  font-family: OpenSans-Regular;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

:focus{
  outline: 1px solid #b59f5b;
}

.header {
  min-width: 1660px;
  min-height: 450px;

  color: #ffffff;

  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;

  position: relative;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 60%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navigation-container {
  padding-top: 28px;
}

.navigation {
  display: flex;

  position: relative;
  z-index: 2;

  padding: 0px 15px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: auto;

  font-size: 13px;
  text-transform: uppercase;
}

.nav-list-item {
  margin-left: 35px;
}

.nav-list-item a, .header {
  color: #ffffff;
}

.nav-list-item:hover {
  text-decoration: underline;
}

.logo-container, .logo-container img {
  display: flex;

  max-width: 179px;
  height: 41px;
}

h1 {
  position: relative;
  z-index: 2;

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 109px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  display: flex;

  max-width: 1170px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-right: 15px;
  padding-bottom: 62px;
  padding-left: 15px;
}

.post-box {
  max-width: 778px;
  min-height: 2420px;
}

.post {
  display: flex;

  max-width: 778px;
  max-height: 294px;
}

.post:nth-child(n+2) {
  margin-top: 59px;
}

.post-image, .post-image img {
  max-width: 381px;
  max-height: 294px;

  background-color: #eff6f1;
}

.post-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  min-width: 370px;
  min-height: 294px;
}

.post-nav {
  display: flex;
}

.post-nav-item a {
  display: flex;
  max-width: 367px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
  color: #b59f5b;

  margin-right: 19px;
}

.post-nav-item a:hover {
  text-decoration: underline;
}

h2 a{
  display: flex;

  margin-top: 10px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

h2 a:hover {
  color: #b59f5b;
}

.post-sign{
  font-size: 12px;
  margin-top: 28px;
}

.post-sign span {
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

.post-sign time {
  color: #888888;
  margin-right: 10px;
}

.post-text {
  font-size: 15px;
  line-height: 22px;

  margin-top: 45px;

  overflow: hidden;
}

.post-text:nth-child(odd){
  margin-top: 12px;
}

.sidebar {
  max-width: 272px;
  min-height: 2420px;

  margin-left: 120px;
}

h3 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 24px;
}

h3::after {
  content: "";
  display:block;
  background: #e1d9bd;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 66px;
  height: 3px;
}

.sidebar-post {
  display: flex;

  max-width: 275px;
  max-height: 71px;

  margin-top: 22px;

  overflow: hidden;
}

.sidebar-post-image, .sidebar-post-image img {
  display:flex;

  max-width: 70px;
  max-height: 70px;

  background-color: #eff6f1;
}

h4 {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-post-text {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.sidebar-post-text time {
  font-size: 12px;
  color: #888888;
}

.sidebar-post-text h4 {
  font-size: 14px;
  text-align: left;

  margin-top: 2px;
}

.sidebar-post-text a {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  color: #000000;
}

.sidebar-post-text a:hover {
  color: #b59f5b;
}

.search-form {
  display: flex;

  max-width: 275px;
  max-height: 48px;

  margin-top: 58px;
}

.search-area {
  width: 222px;
  height: 48px;

  border: none;
  padding-left: 18px;
  background-color: #f4f7f6;
}

.search-button {
  width: 48px;
  height: 48px;

  border: none;
  outline: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.search-button:hover {
  background-color: #323232;
  outline: 1px solid #323232;
  cursor: pointer;
}

button img {
  width: 18px;
  height: 18px;
}

.subscribe-container {
  margin-top: 57px;

  min-width: 275px;
  min-height: 170px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-area {
  box-sizing: border-box;
  max-width: 272px;
  min-height: 48px;

  border: none;
  padding-left: 20px;
  background-color: #f4f7f6;
}

.subscribe-button {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  width: 270px;
  min-height: 48px;

  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  outline: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.subscribe-button:hover {
  background-color: #323232;
  outline: 1px solid #323232;
  cursor: pointer;
}

.tags {
  max-width: 275px;
  min-heigth: 154px;

  margin-top: 55px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 22px;
}

.tags-list a {
  display: inline-block;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;

  border: 3px solid #fdf9f2;

  padding: 6px 13px 2px 13px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-list a:hover {
  border: 3px solid #b59f5b;
}

.categories {
  max-width: 275px;
  min-heigth: 321px;

  margin-top: 50px;
}

.categories-list {
  margin-top: 30px;
}

.categories-list-item {
  display: flex;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  color: #b59f5b;

  border-bottom: 1px solid #eeeeee;
}

.categories-list a {
  display: flex;
  align-items: center;

  max-width: 275px;
  min-height: 39px;

  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
}

.categories-list a:hover {
  color: #b59f5b;
}

.footer {
  display: flex;
  flex-direction: column;

  max-width: 1170px;
  min-height: 170px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 1170px;
  min-height: 85px;

  background-color: #f4f7f6;
}

.social-item {
  display: inline-block;

  margin-right: 10px;
}

.social-item a {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-twitter {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.social-link-pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.social-link-facebook {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
}

.social-link-instagram {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.social-link-tumblr {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.social-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  margin-top: 64px;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
}

.copyright a {
  font-family: "OpenSans-Bold", Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}
